
@{
    ViewData["Title"] = "Buscar";
}

<h1>Buscar</h1>

    <form action="/Partidos/DelDia" method="post">
        <div>
            Fecha: <input type="date" name="Fecha" />
        </div>
        <input type="submit" value="Enviar" />
    </form>