@model List<PartidoViewModel>
@{
    ViewData["Title"] = "Partidos";
}

<h1>Partidos</h1>

<div>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Lugar</th>
            <th>Eliminar</th>
            <th>Eliminar con confirmacion</th>
        </tr>

        @foreach (var partido in Model)
        {
            <tr>
                <td>@partido.Fecha.ToString("dd/MM/yy")</td>
                <td>@partido.Fecha.ToString("hh:mm")hs</td>
                <td>@partido.Lugar</td>
                <td><a href="/partidos/eliminar/@partido.Id">Eliminar</a></td>
                <td><a href="/partidos/eliminarConfirmacion/@partido.Id">Eliminar con Confirmacion</a></td>
            </tr>
        }
    </table>
</div>