@model List<PartidoViewModel>
@{
    ViewData["Title"] = "Partidos";
}

<h1>Partidos</h1>

<div>
    <a href="/partidos/Nuevo" class="btn btn-outline-primary">Nuevo</a>
    <a href="/partidos/NuevoBindingManual" class="btn btn-outline-primary">Nuevo Binding Manual</a>
    <table class="table">
        <tr>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Lugar</th>
            <th>Eliminar</th>
            <th>Eliminar con confirmacion</th>
        </tr>

        @foreach (var partido in Model)
        {
            <tr>
                <td>@partido.Fecha.ToString("dd/MM/yy")</td>
                <td>@partido.Fecha.ToString("hh:mm")hs</td>
                <td>@partido.Lugar</td>
                <td><a href="/partidos/EliminarSinConfirmar/@partido.Id" class="btn btn-outline-primary">Eliminar</a></td>
                <td><a href="/partidos/EliminarConfirmacion/@partido.Id" class="btn btn-outline-primary">Eliminar con Confirmacion</a></td>
            </tr>
        }
    </table>
</div>