
@{
    ViewData["Title"] = "Nuevo Partido";
}

<h1>Nuevo Partido</h1>

<form action="/Partidos/NuevoBindingManual" method="post">
    @Html.AntiForgeryToken()
    <div>
        Fecha: <input type="datetime-local" name="Fecha" class="form-control" />
    </div>
    <div>
        Lugar: <input type="text" name="Lugar" class="form-control mb-3" />
    </div>

    <input type="submit" value="Aceptar" class="btn btn-outline-primary" />
</form>
