
@{
    ViewData["Title"] = "Nuevo Partido";
}

<form action="/Partidos/Nuevo" method="post">
    @Html.AntiForgeryToken()
    <div>
        Fecha: <input type="datetime-local" name="Fecha" value="" />
    </div>
    <div>
        Lugar: <input type="text" name="Lugar" value="" />
    </div>

    <input type="submit" name="Nuevo" value="Nuevo" />
</form>
