@{
    Layout = "_AdminLayout";
}
@section TopContent
{
<h2>Admin Usuarios</h2>
}

<div>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
        </tr>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>Usuario @i</td>
                <td>email@(i)@@gmail@(i).com</td>
            </tr>
        }

    </table>
</div>

@section Footer
{
<span>Hecho en clase el dia 27/04/2022</span>
}