@model List<ClaseEF.ClasificadorAnimales.Data.EF.TipoAnimal>
<div>
    Tipo Animal:
    <select name="IdTipoAnimal">
        <option value="">Tipo Animal</option>
        @foreach (var tipoAnimal in Model)
        {
            <option value="@tipoAnimal.IdTipoAnimal">@tipoAnimal.Nombre</option>
        }
    </select>
</div>