@model ClaseEF.ClasificadorAnimales.Data.EF.Animal

    <form action="/Animal/Alta" method="post">
        <div>
            Tipo Animal:
            <select name="TipoAnimal">
                <option value="">Tipo Animal</option>
                @foreach (var tipoAnimal in (List<ClaseEF.ClasificadorAnimales.Data.EF.TipoAnimal>) ViewBag.TipoAnimales)
                {
                    <option value="@tipoAnimal.IdTipoAnimal">@tipoAnimal.Nombre</option>
                }
            </select>
        </div>
    </form>